body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #76b4c2, #434343);
    background-size: 400% 400%;
    animation: waterBackground 15s ease infinite;
    overflow: hidden;
    box-sizing: border-box;
}

@keyframes waterBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    text-align: center;
    width: 35%;
    height: auto;
}

.btn {
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
}

#location {
    width: calc(100% - 16px);
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

.temperature,
.information {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
}

@media (max-width: 1000px) {
    #container {
        width: 70%;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    #container {
        width: 70%;
        padding: 0.5rem;
    }

    .btn,
    #location {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .temperature,
    .information {
        font-size: 1.5rem;
    }
}

@keyframes rainDrop {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

.raindrop {
    position: absolute;
    width: 3px;
    height: 1vh;
    background: rgba(253, 254, 255, 0.5);
    top: 0;
    left: calc(100% * var(--x));
    animation: rainDrop linear infinite;
    animation-duration: calc(1s * var(--duration));
    opacity: calc(0.5 + var(--opacity));
}